language: rust
rust:
  - nightly
services:
  - docker

env:
  COMPOSE_VERSION="1.24.1"

# Install latest nightly of rust toolchain & linter (rustfmt)
before_install:
  - rustup component add rustfmt --toolchain nightly

# Install docker-compose
install:
  - curl -L https://github.com/docker/compose/releases/download/${COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - yes | sudo mv docker-compose /usr/local/bin

before_script:
  - echo $TRAVIS_COMMIT
  - echo $TRAVIS_TAG
  - echo $TRAVIS_BRANCH
  - echo $TRAVIS_BUILD_NUMBER
  - echo $TRAVIS_REPO_SLUG
  - echo $TRAVIS_JOB_ID

script:
  - cargo fmt -- --check || travis_terminate 1; # Run lint, stop build if error
  - docker-compose -f test/docker-compose.yaml up --exit-code-from test-rest-api # Run tests
    